<div class="main-topnav">
    <a href="/" class="logo">
        <svg class="logo" viewBox="0 0 236 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M55.748 31.7793C55.748 32.0723 55.6719 32.3418 55.5195 32.5879C55.3789 32.834 55.1621 33.0508 54.8691 33.2383C54.5645 33.4258 54.1719 33.5781 53.6914 33.6953C53.2227 33.8008 52.6719 33.8535 52.0391 33.8535C51.5117 33.8535 50.9961 33.8008 50.4922 33.6953C50 33.5898 49.5605 33.4199 49.1738 33.1855C48.7871 32.9629 48.4707 32.6699 48.2246 32.3066C47.9785 31.9316 47.8379 31.4863 47.8027 30.9707H43.1445C43.1445 31.7441 43.332 32.5176 43.707 33.291C44.0938 34.0527 44.6562 34.7324 45.3945 35.3301C46.1328 35.9395 47.0469 36.4316 48.1367 36.8066C49.2383 37.1816 50.5039 37.3691 51.9336 37.3691C53.2344 37.3691 54.4121 37.2285 55.4668 36.9473C56.5215 36.6543 57.4238 36.25 58.1738 35.7344C58.9121 35.2188 59.4805 34.6094 59.8789 33.9062C60.2891 33.1914 60.4941 32.4121 60.4941 31.5684C60.4941 30.6543 60.2891 29.8691 59.8789 29.2129C59.4805 28.5449 58.9238 27.9766 58.209 27.5078C57.4941 27.0508 56.6445 26.6758 55.6602 26.3828C54.6758 26.0898 53.6094 25.8496 52.4609 25.6621C51.6641 25.5449 51.0078 25.4102 50.4922 25.2578C49.9766 25.0938 49.5723 24.9121 49.2793 24.7129C48.9746 24.5254 48.7637 24.3145 48.6465 24.0801C48.5293 23.834 48.4707 23.5703 48.4707 23.2891C48.4707 23.0078 48.5352 22.7441 48.6641 22.498C48.8047 22.2402 49.0039 22.0176 49.2617 21.8301C49.543 21.6191 49.9062 21.4551 50.3516 21.3379C50.7969 21.2207 51.3184 21.1621 51.916 21.1621C52.6191 21.1621 53.2168 21.25 53.709 21.4258C54.2129 21.6016 54.6113 21.8359 54.9043 22.1289C55.1152 22.3516 55.2734 22.6035 55.3789 22.8848C55.4844 23.1543 55.5371 23.4473 55.5371 23.7637H60.4238C60.4238 22.8848 60.2305 22.0703 59.8438 21.3203C59.457 20.5703 58.9004 19.9199 58.1738 19.3691C57.4355 18.8301 56.5391 18.4082 55.4844 18.1035C54.4297 17.7871 53.2402 17.6289 51.916 17.6289C50.6504 17.6289 49.5137 17.7871 48.5059 18.1035C47.498 18.4199 46.6426 18.8477 45.9395 19.3867C45.2363 19.9258 44.6973 20.5527 44.3223 21.2676C43.9473 21.9824 43.7598 22.7324 43.7598 23.5176C43.7598 24.3262 43.9414 25.041 44.3047 25.6621C44.6797 26.2832 45.1953 26.8281 45.8516 27.2969C46.5078 27.7773 47.293 28.1875 48.207 28.5273C49.1328 28.8555 50.1523 29.1309 51.2656 29.3535C52.1445 29.5176 52.8711 29.6816 53.4453 29.8457C54.0195 30.0098 54.4824 30.1855 54.834 30.373C55.1738 30.5723 55.4082 30.7832 55.5371 31.0059C55.6777 31.2285 55.748 31.4863 55.748 31.7793ZM66.4004 17.9805V21.9707H71.8145V33.0273H66.4004V37H81.9043V33.0273H76.7539V17.9805H66.4004ZM71.4629 13.1113C71.4629 13.4863 71.5273 13.8379 71.6562 14.166C71.7969 14.4824 71.9902 14.752 72.2363 14.9746C72.4824 15.209 72.7754 15.3906 73.1152 15.5195C73.4668 15.6484 73.8535 15.7129 74.2754 15.7129C75.1426 15.7129 75.8281 15.4727 76.332 14.9922C76.8477 14.5 77.1055 13.873 77.1055 13.1113C77.1055 12.3496 76.8477 11.7285 76.332 11.248C75.8281 10.7559 75.1426 10.5098 74.2754 10.5098C73.8535 10.5098 73.4668 10.5742 73.1152 10.7031C72.7754 10.832 72.4824 11.0078 72.2363 11.2305C71.9902 11.4648 71.7969 11.7461 71.6562 12.0742C71.5273 12.3906 71.4629 12.7363 71.4629 13.1113ZM92.9961 33.0801L103.754 20.916V17.9805H86.5625V21.9531H96.9688L86.3164 33.9766V37H104.193V33.0801H92.9961ZM114.617 33.0801L125.375 20.916V17.9805H108.184V21.9531H118.59L107.938 33.9766V37H125.814V33.0801H114.617ZM130.982 10V13.9902H136.678V33.0273H130.982V37H147.066V33.0273H141.617V10H130.982ZM160.812 37.3516C162.652 37.3516 164.246 36.9941 165.594 36.2793C166.941 35.5645 167.926 34.7676 168.547 33.8887L166.104 31.252C165.541 31.9785 164.809 32.5234 163.906 32.8867C163.004 33.25 162.072 33.4316 161.111 33.4316C160.432 33.4316 159.805 33.3262 159.23 33.1152C158.656 32.9043 158.146 32.6055 157.701 32.2188C157.268 31.8438 156.922 31.4277 156.664 30.9707C156.406 30.502 156.195 29.8867 156.031 29.125V29.0723H168.934V26.998C168.934 25.6035 168.74 24.332 168.354 23.1836C167.967 22.0234 167.404 21.0332 166.666 20.2129C165.916 19.3926 165.002 18.7598 163.924 18.3145C162.857 17.8574 161.639 17.6289 160.268 17.6289C158.943 17.6289 157.719 17.8691 156.594 18.3496C155.469 18.8301 154.496 19.5039 153.676 20.3711C152.855 21.2383 152.217 22.2754 151.76 23.4824C151.303 24.6777 151.074 26.002 151.074 27.4551V28.1582C151.074 29.4355 151.303 30.6367 151.76 31.7617C152.229 32.875 152.891 33.8418 153.746 34.6621C154.602 35.4941 155.627 36.1504 156.822 36.6309C158.018 37.1113 159.348 37.3516 160.812 37.3516ZM160.232 21.584C160.854 21.584 161.398 21.6836 161.867 21.8828C162.348 22.0703 162.752 22.3281 163.08 22.6562C163.408 22.9961 163.666 23.3945 163.854 23.8516C164.041 24.3086 164.135 24.7949 164.135 25.3105V25.6973H156.119C156.236 25.0762 156.412 24.5137 156.646 24.0098C156.881 23.5059 157.174 23.0723 157.525 22.709C157.865 22.3457 158.264 22.0703 158.721 21.8828C159.178 21.6836 159.682 21.584 160.232 21.584ZM174.225 10V13.9902H179.92V33.0273H174.225V37H190.309V33.0273H184.859V10H174.225ZM194.158 27.3145V27.6836C194.158 29.0781 194.357 30.3672 194.756 31.5508C195.154 32.7227 195.74 33.7422 196.514 34.6094C197.275 35.4766 198.213 36.1562 199.326 36.6484C200.451 37.1289 201.729 37.3691 203.158 37.3691C204.576 37.3691 205.842 37.1289 206.955 36.6484C208.068 36.1562 209.006 35.4766 209.768 34.6094C210.529 33.7422 211.109 32.7227 211.508 31.5508C211.906 30.3672 212.105 29.0781 212.105 27.6836V27.3145C212.105 25.9316 211.906 24.6543 211.508 23.4824C211.109 22.2988 210.529 21.2734 209.768 20.4062C208.994 19.5391 208.051 18.8594 206.938 18.3672C205.824 17.875 204.553 17.6289 203.123 17.6289C201.693 17.6289 200.422 17.875 199.309 18.3672C198.207 18.8594 197.275 19.5391 196.514 20.4062C195.74 21.2734 195.154 22.2988 194.756 23.4824C194.357 24.6543 194.158 25.9316 194.158 27.3145ZM199.045 27.6836V27.3145C199.045 26.541 199.121 25.8086 199.273 25.1172C199.426 24.4258 199.666 23.8164 199.994 23.2891C200.322 22.7617 200.744 22.3457 201.26 22.041C201.775 21.7363 202.396 21.584 203.123 21.584C203.861 21.584 204.488 21.7363 205.004 22.041C205.52 22.3457 205.941 22.7617 206.27 23.2891C206.586 23.8164 206.82 24.4258 206.973 25.1172C207.125 25.8086 207.201 26.541 207.201 27.3145V27.6836C207.201 28.4805 207.125 29.2305 206.973 29.9336C206.82 30.625 206.586 31.2285 206.27 31.7441C205.941 32.2715 205.52 32.6875 205.004 32.9922C204.488 33.2969 203.873 33.4492 203.158 33.4492C202.42 33.4492 201.787 33.2969 201.26 32.9922C200.744 32.6875 200.322 32.2715 199.994 31.7441C199.666 31.2285 199.426 30.625 199.273 29.9336C199.121 29.2305 199.045 28.4805 199.045 27.6836ZM215.955 27.3496V27.7188C215.955 29.1016 216.131 30.3848 216.482 31.5684C216.846 32.7402 217.361 33.7539 218.029 34.6094C218.697 35.4648 219.5 36.1387 220.438 36.6309C221.387 37.1113 222.453 37.3516 223.637 37.3516C224.234 37.3516 224.791 37.2871 225.307 37.1582C225.834 37.0293 226.314 36.8477 226.748 36.6133C227.041 36.4492 227.316 36.2617 227.574 36.0508C227.832 35.8398 228.078 35.6055 228.312 35.3477V36.4375C228.312 37.082 228.219 37.6621 228.031 38.1777C227.855 38.6934 227.598 39.127 227.258 39.4785C226.883 39.8652 226.414 40.1582 225.852 40.3574C225.301 40.5566 224.668 40.6562 223.953 40.6562C223.508 40.6562 223.074 40.6094 222.652 40.5156C222.242 40.4336 221.844 40.3047 221.457 40.1289C221.059 39.9531 220.678 39.7246 220.314 39.4434C219.951 39.1738 219.611 38.8574 219.295 38.4941L217.098 41.4648C217.508 41.9922 218 42.4434 218.574 42.8184C219.148 43.2051 219.758 43.5215 220.402 43.7676C221.047 44.0137 221.697 44.1953 222.354 44.3125C223.01 44.4297 223.625 44.4883 224.199 44.4883C225.535 44.4883 226.754 44.3066 227.855 43.9434C228.969 43.5918 229.924 43.0703 230.721 42.3789C231.506 41.6875 232.115 40.8379 232.549 39.8301C232.994 38.8223 233.217 37.6738 233.217 36.3848V17.9805H228.77L228.576 19.791C228.342 19.498 228.084 19.2344 227.803 19C227.521 18.7539 227.217 18.543 226.889 18.3672C226.455 18.1211 225.969 17.9395 225.43 17.8223C224.902 17.6934 224.316 17.6289 223.672 17.6289C222.477 17.6289 221.404 17.8633 220.455 18.332C219.506 18.8008 218.697 19.4629 218.029 20.3184C217.361 21.1738 216.846 22.1992 216.482 23.3945C216.131 24.5898 215.955 25.9082 215.955 27.3496ZM220.859 27.7188V27.3496C220.859 26.5527 220.941 25.8086 221.105 25.1172C221.27 24.4141 221.521 23.7988 221.861 23.2715C222.189 22.7559 222.605 22.3516 223.109 22.0586C223.613 21.7539 224.211 21.6016 224.902 21.6016C225.277 21.6016 225.623 21.6367 225.939 21.707C226.268 21.7773 226.566 21.877 226.836 22.0059C227.152 22.1582 227.434 22.3574 227.68 22.6035C227.926 22.8496 228.137 23.1367 228.312 23.4648V31.5156C228.148 31.8086 227.955 32.0723 227.732 32.3066C227.51 32.541 227.252 32.7402 226.959 32.9043C226.678 33.0566 226.361 33.1738 226.01 33.2559C225.67 33.3379 225.289 33.3789 224.867 33.3789C224.176 33.3789 223.578 33.2324 223.074 32.9395C222.57 32.6465 222.154 32.2422 221.826 31.7266C221.498 31.2227 221.252 30.6309 221.088 29.9512C220.936 29.2598 220.859 28.5156 220.859 27.7188Z"
                fill="white" />
            <g clip-path="url(#clip0)">
                <path
                    d="M29.1769 16.297C27.1352 13.967 25.382 11.8693 25.382 9.01119C25.382 7.52192 25.9341 6.1046 26.9191 4.99977C27.2553 4.63942 27.3032 4.08701 27.0874 3.6544C26.8468 3.19801 26.3667 2.95809 25.8621 3.00595C24.8055 3.15015 22.5714 4.80771 20.5779 7.30546C20.4096 7.49783 20.2416 7.6899 20.0974 7.90604C17.6475 11.1248 15.0294 16.5132 15.4376 23.9354C13.9004 22.0858 12.9636 19.0591 13.3239 16.369C13.3959 15.7684 13.0114 15.1919 12.4112 15.048C11.8106 14.9038 11.21 15.2401 10.9939 15.8166C10.2735 17.8104 9.48081 19.3954 8.73602 20.9087C7.34279 23.647 6.16602 26.025 6.16602 29.5081C6.16602 37.4586 12.6273 44 20.5779 44C28.5285 44 34.9898 37.4586 34.9898 29.5081C34.9898 22.9745 31.8914 19.4195 29.1769 16.297Z"
                    fill="#F35800" />
                <path
                    d="M34.9898 29.5081C34.9898 37.4586 28.5285 44 20.5779 44V7.30546C22.5717 4.80771 24.8054 3.15015 25.8624 3.00595C26.3667 2.95809 26.8471 3.19801 27.0874 3.6544C27.3035 4.08701 27.2553 4.63942 26.9191 4.99977C25.9344 6.1046 25.3819 7.52192 25.3819 9.01119C25.3819 11.8693 27.1352 13.967 29.1772 16.297C31.8914 19.4195 34.9898 22.9745 34.9898 29.5081Z"
                    fill="#F35800" />
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="41" height="41" fill="white" transform="translate(0 3)" />
                </clipPath>
            </defs>
        </svg>
    </a>



    <div class="login">
        <h3 class="greeting">
            Hi {{currentUser.details.username}}
        </h3>
        <a href="/user/logout">
            <button class=" block">
                LOG OUT
            </button>
        </a>
    </div>


</div>

<div class = "topbar">

    <input id="bg" class="bgPicker" target:bg="@value" type="color">
    <div class="add-wrapper">
        <button new:item class="add-change">Add A Change + </button>
    </div>  

</div>

<div id= "text" object key:id={{currentItem.id}} key:bg="@search" class="changelog-main">
    
    <div class="changelog">
    <div array key="changelog"  class="container">
        <h1 class="changelog-head">
            Botsiva Changelog
        </h1>
        {{#for item in currentItem.changelog}}
            <div object key:id="{{generateIdIfNone item.id}}" key:content="@search" key:title="@search"  class="timeline-item" date-is='20-07-1990'>
                <div class="tl">
                <h1 target:title="@innerText" edit:title >{{default item.name "Title"}}</h1>
                <p target:content="@innerText" edit:content>
                    {{default item.content "This is the content"}}
                </p>
                </div>
            </div>
        {{/for}}
    
        {{!-- <div class="timeline-item" date-is='20-07-1990'>
            <div class="tl" >

            <h1>Oeehhh, that's awesome.. Me too!</h1>
            <p>
                I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. I
                write the best placeholder text, and I'm the biggest developer on the web by far... While that's mock-ups
                and this is politics, are they really so different? I think the only card she has is the Lorem card.
            </p>
            </div>
        </div>
    
        <div class="timeline-item" date-is='20-07-1990'>
            <div class="tl">

            <h1>I'm ::last-child so my border fades ^__^</h1>
            <p>
                I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. I
                write the best placeholder text, and I'm the biggest developer on the web by far... While that's mock-ups
                and this is politics, are they really so different? I think the only card she has is the Lorem card.
            </p>
            </div>
        </div> --}}
    </div>
        {{!-- <div class="changelog-timeline">
            Hello       
        </div>

        <div class="changelog-content">
            Workld
        </div> --}}
    </div>
</div>


{{!-- <div class="timeline">
    <div class="entry">
        <div class="title">
            <h3>2014 - Present</h3>
        </div>
        <div class="body">
            <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>
            <ul>
                <li>Rerum sit libero possimus amet excepturi</li>
                <li>Exercitationem enim dolores sunt praesentium dolorum praesentium</li>
                <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
                <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
                <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
                <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
                <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
                <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
                <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
            </ul>
        </div>
    </div>
    <div class="entry">
        <div class="title">
            <h3>2010 - Present</h3>
        </div>
        <div class="body">
            <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>
            <ul>
                <li>Rerum sit libero possimus amet excepturi</li>
                <li>Rerum sit libero possimus amet excepturi</li>
                <li>Rerum sit libero possimus amet excepturi</li>
                <li>Exercitationem enim dolores sunt praesentium dolorum praesentium</li>
                <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
            </ul>
        </div>
    </div>
    <div class="entry">
        <div class="title">
            <h3>2009 - 2010</h3>
        </div>
        <div class="body">
            <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>
            <ul>
                <li>Rerum sit libero possimus amet excepturi</li>
                <li>Exercitationem enim dolores sunt praesentium dolorum praesentium</li>
                <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
            </ul>
        </div>
    </div>
    <div class="entry">
        <div class="title">
            <h3>2006 - 2008</h3>
        </div>
        <div class="body">
            <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>
            <ul>
                <li>Rerum sit libero possimus amet excepturi</li>
                <li>Exercitationem enim dolores sunt praesentium dolorum praesentium</li>
                <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
            </ul>
        </div>
    </div>

</div> --}}
